.slugEqualsTitle #slug-field .input.slugEqualsTitle-overwrite-enabled {
  input {
    visibility: hidden;
  }
  &:after {
    content: 'overwritten by title';
    visibility: visible;
    position: absolute;
    top: 14px;
    opacity: 0.25;
  }
}
