.input.slugEqualsTitle-overwrite-enabled input {
  visibility: hidden;
}

.input.slugEqualsTitle-overwrite-enabled:after {
  content: "overwritten by title";
  visibility: visible;
  position: absolute;
  top: 14px;
  opacity: 0.25;
}

